@keyframes pulse {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 560px) {
    align-items: flex-start;
  }

  @media (min-width: 960px) {
    flex-direction: row;
  }
}

.placeholder {
  position: relative;
  background-color: black;
}

.placeholder::before {
  content: 'Waiting for member...';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  animation: pulse 1s infinite alternate;
}

.video {
  aspect-ratio: 4 / 3;
  width: 100%;

  @media (min-width: 460px) {
    aspect-ratio: 16 / 9;
  }

  @media (min-width: 740px) {
    aspect-ratio: 4 / 3;
  }

  @media (min-width: 960px) {
    aspect-ratio: 4 / 3;
    width: 50%;
    height: auto;
  }
}
