.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 560px) {
    align-items: flex-start;
  }

  @media (min-width: 960px) {
    flex-direction: row;
  }
}

.video {
  aspect-ratio: 4 / 3;
  width: 100%;

  @media (min-width: 460px) {
    aspect-ratio: 16 / 9;
  }

  @media (min-width: 740px) {
    aspect-ratio: 4 / 3;
  }

  @media (min-width: 960px) {
    aspect-ratio: 4 / 3;
    width: 50%;
    height: auto;
  }
}
